@font-face {
	font-family: "GeistMonoVF";
	src: url("../../public/fonts/GeistMonoVF.woff");
}

:root {
	--white: #e0e0e0;
	--black: #171717;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	background: var(--black);
	font-family: "GeistMonoVF";
	display: flex;
	padding: 32px;
  color: var(--white);
}

.path-wrapper {
	background: var(--white);
	padding: 5px 0;
	display: flex;
	align-items: center;
	/* justify-content: center; */
	border-radius: 5px;
}

.svg-wrapper {
	border-radius: 50%;
	padding: 3px;
	background: var(--black);
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 10px;
	border: 1px solid var(--black);
}
.svg-wrapper:hover {
	background: var(--white);
}
.svg-wrapper:hover svg path{
	color: var(--black);

}
.svg-wrapper svg path {
	color: var(--white);
}

.path a {
	color: var(--black);
	text-decoration: none;
	padding: 5px 15px;
	border-radius: 5px;
	position: relative;
	font-size: 25px;
}
.path a:hover > .path {
	opacity: 0.7;
}

.path a::after {
	transform: rotate(45deg);
	position: absolute;
	right: 5px;
	bottom: -7px;
	margin: auto;
	height: 30px;
	width: 2px;
	background-color: var(--black);
	content: "";
}
.path a::before {
	transform: rotate(-45deg);
	position: absolute;
	right: 5px;
	top: -7px;
	margin: auto;
	height: 32px;
	width: 2px;
	background-color: var(--black);
	content: "";
}
.path:last-child a::after,
.path:last-child a::before {
	display: none;
}

ul {
	list-style: none;
	padding: 15px 10px;
}
li {
	padding: 2px 0;
}
li a {
	color: #e0e0e0;
	font-weight: 200;
	font-size: 20px;
	text-decoration: none;
}

li:before {
	content: "#";
	color: #9e9e9ec9;
	display: inline;
	margin: 10px;
	font-size: 15px;
}
li a:hover {
	border-bottom: 1px solid #e0e0e0;
}

.error-text {
	margin-left: 10px;
}